# Ignore Python artifacts globally
*.pyc
__pycache__/
*.pyo
*.pyd

# Ignore local virtual environments
.venv/
env/
venv/

# Ignore node_modules everywhere
node_modules/

# Ignore environment files
.env
.env.*.local

# Ignore build output globally
build/
dist/

# Mac/Linux system files
.DS_Store

# Windows system files
Thumbs.db

# VSCode settings (optional)
.vscode/